<h1><span data-i18n="skills.my_skills">About</span></h1>
<br>
  <a href="https://www.packtpub.com/application-development/kotlin-programming-cookbook">
    <img src="/img/cookbook.png"/>
    <br>
  </a>

<div>
    I am a freelance Android/iOS developer and have worked with a lot of startups worldwide.
    I've also published a book on Kotlin programming (a language used for developing Android apps). I've helped
    many startups to reach their product-market fit by following lean approach to product development, which
    is derived from the principle of Lean Startup. I follow best practices and clean code to create highly
    testable and maintainable code.
</div>
