---
layout: default
---

<a class="btn" href= "{{ site.url }}/" >
  Home
</a>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=1017422325020049&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      •
      {% include read_time.html %}
    </span>

  </header>
  {% if page.image.feature %}
  <div class="post-image-feature">
    <img  src=
    {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
    "{{ page.image.feature }}"
    {% else %}
    "{{ site.url }}/img/{{ page.image.feature }}"
    {% endif %}
    alt="{{ page.title }} feature image">

    {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %}
  <article class="post-content">
    {{ content }}
  </article>
<div class="row">
  <div class="col-sm-5">
      <div class="fb-page" data-href="https://www.facebook.com/pg/Advanced-Android-Development-1940714176257012/about/?ref=page_internal"
      data-small-header="true" data-adapt-container-width="true"
      data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/pg/Advanced-Android-Development-1940714176257012/about/?ref=page_internal"
      class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/pg/Advanced-Android-Development-1940714176257012/about/?ref=page_internal">Advanced Android Development</a>
    </blockquote>
    </div>
  </div>
  <br>

  <div class="col-sm-5">
    <a href="https://twitter.com/aanand_shekhar?ref_src=twsrc%5Etfw"
    class="twitter-follow-button" data-size="large" data-show-count="true">Follow @aanand_shekhar</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>


</div>




  <h3 >
    I am making a new course for you on Advanced Android Development and I’d love your input.
    Just click below to answer 5 very short questions. It only takes 1 minute.</h3>
    <div class="center">
      <a class="btn" href="https://goo.gl/forms/7sLk5CVAoYoP058u2">
        Click here
      </a>
    </div>
  <h3>  P.S. Check out the bonus question if you’d like an early access (It's already 15% complete!).
  </h3>



</div>
{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="share-buttons">
  <h6>Share on: </h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.url }}{{ page.url }} via @{{author.twitter}} " class="twitter btn" title="Share on Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook btn" title="Share on Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="google-plus btn" title="Share on Google Plus"><i class="fa fa-google-plus"></i><span> Google+</span></a>
    </li>
    <li>
      <a href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}" class="hacker-news btn" title="Share on Hacker News"><i class="fa fa-hacker-news"></i><span> Hacker News</span></a>
    </li>
    <li>
      <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" class="reddit btn" title="Share on Reddit"><i class="fa fa-reddit"></i><span> Reddit</span></a>
    </li>
  </ul>
</div><!-- end share-buttons -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"e3d05e9f7b932dbabc53955ed","lid":"c96feebf4f"}) })</script>

{% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}
